<a href="https://colab.research.google.com/github/pushp0119/Pushp-UCS712/blob/main/ASSIGNMENT2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Q1**
Create a List L that is defined as= [10, 20, 30, 40, 50, 60, 70, 80].
i. WAP to add 200 and 300 to L.
ii. WAP to remove 10 and 30 from L.
iii. WAP to sort L in ascending order.
iv. WAP to sort L in descending order.

In [ ]:
list= [10, 20, 30, 40, 50, 60, 70, 80]
list.append(200)
list.append(300)
print(list)
list.remove(20)
list.remove(30)
print(list)
list.sort()
print(list)
list.sort(reverse=True)
print(list)

[10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
[10, 40, 50, 60, 70, 80, 200, 300]
[10, 40, 50, 60, 70, 80, 200, 300]
[300, 200, 80, 70, 60, 50, 40, 10]

**Q2**
Create a tuple of marks scored as scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45) and
perform the following operations using tuple functions:
i. Identify the highest score and its index in the tuple.
ii. Find the lowest score and count how many times it appears.
iii. Reverse the tuple and return it as a list.
iv. Check if a specific score ‘76’ (input by the user) is present in the tuple and
print its first occurrence index, or a message saying it’s not present.

In [ ]:
scores= (45, 89.5, 76, 45.4, 89, 92, 58, 45)
high=scores[0]
pos=0
for i in range(len(scores)):
    if scores[i] > high:
        high = scores[i]
        pos = i
print('Highest Score:',high,'Index:',pos)
a=sorted(scores)
count=0
for i in a:
  if a[0]==i:
    count+=1
print('Lowest:',a[0],'Count:',count)
print(list(scores[::-1]))
if 76 in scores:
  print('Found at index',scores.index(76))
else:
  print('Not Found')

Highest Score: 92 Index: 5
Lowest: 45 Count: 2
[45, 58, 92, 89, 45.4, 76, 89.5, 45]
Found at index 2

**Q3**
WAP to create a list of 100 random numbers between 100 and 900. Count and print
the:
i. All odd numbers
ii. All even numbers
iii. All prime numbers

In [ ]:
import random as r
import math as m
def isPrime(n):
  if n < 2:
        return False
  for i in range(2,int(m.sqrt(n))):
    if n%i==0:
      return False
  return True

list=[r.randint(100,900) for _ in range(100)]
print(list)
odd=[n for n in list if n%2!=0]
even=[n for n in list if n%2==0]
prime=[n for n in list if isPrime(n)]

print(odd)
print(len(odd))
print(even)
print(len(even))
print(prime)
print(len(prime))

**Q4**
Consider the following two sets, A and B, represenƟng scores of two teams in mulƟple
matches. A = {34, 56, 78, 90} and B = {78, 45, 90, 23}
WAP to perform the following operaƟons using set funcƟons:
i. Find the unique scores achieved by both teams (union of sets).
ii. IdenƟfy the scores that are common to both teams (intersecƟon of sets).
iii. Find the scores that are exclusive to each team (symmetric difference).
iv. Check if the scores of team A are a subset of team B, and if team B's scores are
a superset of team A.
v. Remove a specific score X (input by the user) from set A if it exists. If not, print
a message saying it is not present.

In [5]:
A = {34, 56, 78, 90}
B = {78, 45, 90, 23}
print(A.union(B))
print(A.intersection(B))
print(A.symmetric_difference(B))
if A.issubset(B):
    print("Team A's scores are a subset of Team B's scores.")
else:
    print("Team A's scores are NOT a subset of Team B's scores.")

if A.issuperset(B):
    print("Team B's scores are a superset of Team A's scores.")
else:
    print("Team B's scores are NOT a superset of Team A's scores.")

n=int(input("Enter a score to remove from Team A: "))
if n in A:
  A.remove(n)
  print(A)
else:
  print('Not found')

{34, 45, 78, 23, 56, 90}
{90, 78}
{34, 45, 23, 56}
Team A's scores are NOT a subset of Team B's scores.
Team B's scores are NOT a superset of Team A's scores.
Enter a score to remove from Team A: 34
{56, 90, 78}

**Q5**
Write a program to rename a key city to a location in the following dictionary.

In [3]:
dict={"name":"Kelly","city":"New York"}
print(dict)
dict["location"]=dict.pop("city")
print(dict)

{'name': 'Kelly', 'city': 'New York'}
{'name': 'Kelly', 'location': 'New York'}