<a href="https://colab.research.google.com/github/pushp0119/Pushp-UCS712/blob/main/Assignment4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Assingment 4.1: WAP to print the table of 7, 9.**

In [ ]:
for i in range(1,11):
  print('7 *',i,'=',7*i)
print()
for i in range(1,11):
  print('9 *',i,'=',9*i)

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

**Assingment 4.2: WAP to print the table of n and n is given by user.**

In [ ]:
n=input('Enter the number')
n=int(n)
# the input func gives string as output so we have to typecast it to int
for i in range(1,11):
  print(n,'*',i,'=',n*i)

Enter the number4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

**Assingment 4.3: WAP to add all the numbers from 1 to n and n is given by user.**

In [ ]:
n=input('Enter the number')
n=int(n)
res=0
for i in range(1,n+1):
  res+=i
print('Sum =',res)

Enter the number5
Sum = 15